
{% extends "uniTemp.html" %}
{% block content1 %}
	<h1>Put your things in.</h1>
	<form method= "POST" action="/output">
		<div class="form-group">
		  <label for="lastfm">Enter a last.fm username:</label>
		  <input type="text" class="form-control" id="lastfm" name="lastfm" placeholder="last.fm username (e.g. 'joi')" required autofocus>
		</div>
		<div class="form-group">
			<label for="feeling">What do you feel right now?</label>
			<select class="form-control" id="feeling" name="feeling">
			  <option>Joy</option>
			  <option>Sadness</option>
			  <option>Anger</option>
			  <option>Frustration</option>
			  <option>Tentative</option>
				<option>Disgust</option>
				<option>Fear</option>
				<option>Analytical</option>
				<option>Tentative</option>
				<option>Confident</option>
			</select>
		 </div>
		 <div class = "input-group">
				<span class="input-group-addon">
						<input type="checkbox" name = "update" value="update">
					</span>
					<span class="input-group-addon">Force Update</span>
					<button class="btn btn-lg btn-primary btn-block" type="submit" name="submit" value="Submit">Get song recommendations!</button>
				</div>
				<!--
	  	 		<label for = "update" class="form-check-label"> Force Update </label>
					 <input class="form-check-input" type="checkbox" name = "update" value="update">
			-->
			<!--
		  <button class="btn btn-lg btn-primary btn-block" type="submit" name="submit" value="Submit">Get song recommendations!</button>-->
		</form>
{% endblock %}
