
{% extends "uniTemp.html" %}
{% block content1 %}
{% for entries in songList %}
<div class="row featurette">

		<div class="col-md-7">
			<h2 class="featurette-heading">{{entries['song']}} by {{entries['artist']}}<span class="text-muted"> Artist{{artist}}</span></h2>
			<p class="lead">Info </p>
		</div>
		<div class="embed-responsive embed-responsive-16by9 col-md-5">
			<iframe class="embed-responsive-item" src="{{entries['url']}}" allowfullscreen>
			</iframe>
		</div>
  </div>
  <hr class="featurette-divider">
{% endfor %}
{% endblock %}
